In [221]:
import pandas as pd

In [222]:
df=pd.read_csv("C:/Users/rishab/Desktop/835_837_NPI/835_837_NPI_Reduced.csv")

In [223]:
feature=['procedure_code','age']

In [224]:
df = df.fillna(0)

In [225]:
import datetime
#procedure code null specifies no procedure was meant
now = datetime.datetime.now()
pat_age = []
pat_gender_code = []
pat_bday = df['a.pat_birthday']
_c22 = df['_c22']

for i in range(len(df)):
    pat_age.append(now.year - pat_bday.iloc[i])
blahdf = pd.DataFrame({'age' : pat_age})
blahdf.reset_index(drop=True, inplace=True)
df = df.join(blahdf)

In [226]:
df

,a.id,a.claim_id,a.service_id,a.transaction_id,a.create_time,a.pat_birthday,procedure_code,_c22,a.dx,a.ndc_code,age
0,24458461,27044725,76888808,73448368,28:16.7,1932,99214,Male,Z85.51=>1,0,84
1,23509615,26159684,75899396,70858412,22:37.4,1928,99233,Female,N30.80=>1,0,88
2,23509615,26159684,75899392,70858409,22:37.4,1928,99222,Female,N30.80=>1,0,88
3,822739,1013784,347459,2539126,30:04.8,1932,0,Male,R33.9=>1,0,84
4,8567424,10819221,70624643,26290292,06:29.2,1958,99204,Female,N39.0=>1,0,58
5,822742,1013784,665734,2539123,20:03.8,1932,0,Male,R33.9=>1,0,84
6,822739,1013784,347460,2539123,30:04.8,1932,0,Male,R33.9=>1,0,84
7,296019675,323081858,658626650,740769575,34:19.5,1943,0,Male,R35.1=>1,0,73
8,296019674,323081858,658351302,740769576,24:51.3,1943,0,Male,R35.1=>1,0,73
9,822742,1013784,665735,2539121,20:03.8,1932,0,Male,R33.9=>1,0,84
10,822739,1013784,347461,2539121,30:04.8,1932,0,Male,R33.9=>1,0,84
11,296019675,323081858,658626649,740769576,34:19.5,1943,0,Male,R35.1=>1,0,73
12,296019674,323081858,658351299,740769577,24:51.3,1943,0,Male,R35.1=>1,0,73
13,296019675,323081858,658626648,740769577,34:19.5,1943,0,Male,R35.1=>1,0,73
14,296019674,323081858,658351295,740769578,24:51.3,1943,99214,Male,R35.1=>1,0,73
15,288005699,313451047,633137257,721216301,28:13.9,1956,52356,Female,N20.0=>1| N39.41=>3| R39.15=>2,0,60
16,289838340,315595564,636965517,725442569,50:38.6,1977,81003,Male,R39.19=>1,0,39
17,289838340,315595564,636965512,725442570,50:38.6,1977,99204,Male,R39.19=>1,0,39
18,288005698,313451047,631912993,721216301,59:45.1,1956,52356,Female,N20.0=>1| N39.41=>3| R39.15=>2,0,60
19,822742,1013784,665732,2539130,20:03.8,1932,0,Male,R33.9=>1,0,84
20,822739,1013784,347458,2539130,30:04.8,1932,0,Male,R33.9=>1,0,84
21,296019675,323081858,658626646,740769578,34:19.5,1943,99214,Male,R35.1=>1,0,73
22,296019674,323081858,658351310,740769573,24:51.3,1943,81003,Male,R35.1=>1,0,73
23,822742,1013784,665733,2539126,20:03.8,1932,0,Male,R33.9=>1,0,84
24,296019675,323081858,658626653,740769573,34:19.5,1943,81003,Male,R35.1=>1,0,73
25,8567424,10819221,70624646,26290290,06:29.2,1958,81003,Female,N39.0=>1,0,58
26,296019674,323081858,658351309,740769574,24:51.3,1943,0,Male,R35.1=>1,0,73
27,24458458,27044725,66117000,73448368,03:51.7,1932,99214,Male,Z85.51=>1,0,84
28,32348333,35004340,74299237,94579823,17:31.8,1961,81003,Female,N20.0=>1,0,55
29,32348333,35004340,74299233,94579821,17:31.8,1961,99204,Female,N20.0=>1,0,55
...,...,...,...,...,...,...,...,...,...,...,...
99970,31759390,34401613,83241685,93043999,06:32.0,1963,76942,Male,R97.2=>1,0,53
99971,118210090,135193116,142932626,327424979,23:25.4,1963,0,Male,257.2=>1| 600.01=>2| 790.93=>3,43773100103,53
99972,118210090,135193116,142932622,327424978,23:25.4,1963,11980,Male,257.2=>1| 600.01=>2| 790.93=>3,0,53
99973,151943830,170747299,369894070,409805389,26:47.8,1985,36415,Male,456.4=>2| 789.00=>1,0,31
99974,53499040,57101444,105819220,149792976,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99975,53499040,57101444,105819223,149792977,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99976,53499040,57101444,105819225,149792979,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99977,298504342,314702787,664456953,723681594,04:09.3,1961,0,Male,C61=>1| E29.1=>2,0,55
99978,298504342,314702787,664456958,723681592,04:09.3,1961,0,Male,C61=>1| E29.1=>2,0,55
99979,53499040,57101444,105819229,149792981,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99980,53499041,57101445,111061467,149792978,53:35.1,1963,99213,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99981,31759390,34401613,83241680,93043997,06:32.0,1963,76872,Male,R97.2=>1,0,53
99982,31759390,34401613,83241676,93043996,06:32.0,1963,64450,Male,R97.2=>1,0,53
99983,31759390,34401613,83241671,93043994,06:32.0,1963,55700,Male,R97.2=>1,0,53
99984,53499041,57101445,111061468,149792980,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99985,83403131,98892170,151899596,236694564,55:43.4,1942,0,Male,R97.2=>1,0,74
99986,83403135,98892170,156268692,236694564,41:48.3,1942,0,Male,R97.2=>1,0,74
99987,53499041,57101445,111061471,149792982,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99988,289810896,315565553,635358101,725385279,50:00.7,1934,0,Male,C61=>1| N40.1=>2,0,82
99989,289810897,315565553,636463081,725385279,56:45.8,1934,0,Male,C61=>1| N40.1=>2,0,82
99990,53499041,57101445,111061475,149792983,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99991,118210090,135193116,142932619,327424976,23:25.4,1963,99214,Male,257.2=>1| 600.01=>2| 790.93=>3,0,53
99992,53499041,57101445,111061479,149792984,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99993,53499041,57101445,111061483,149792985,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99994,11095984,13500495,66756127,33000666,34:01.1,1940,0,Female,N39.0=>2| N39.3=>1,0,76
99995,53499041,57101445,111061490,149792987,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99996,113674394,130402829,278115240,315776945,11:04.2,1948,0,Male,607.84=>2| 790.93=>1,0,68
99997,113674394,130402829,278115237,315776941,11:04.2,1948,0,Male,607.84=>2| 790.93=>1,0,68
99998,75800988,87172270,125824759,213379948,21:53.8,1943,0,Male,E29.1=>2| N40.0=>1| N52.01=>3,0,73
99999,83403131,98892170,151899578,236694567,55:43.4,1942,0,Male,R97.2=>1,0,74

In [227]:
#parsing the dx field for different types of cancer
dfC61=df[df['a.dx'].str.contains("C61")]
dfC67=df[df['a.dx'].str.contains("C67")]
dfE291=df[df['a.dx'].str.contains("E29.1")]
dfN200=df[df['a.dx'].str.contains("N20.0")]
dfN201=df[df['a.dx'].str.contains("N20.1")]

In [228]:
dfC61

,a.id,a.claim_id,a.service_id,a.transaction_id,a.create_time,a.pat_birthday,procedure_code,_c22,a.dx,a.ndc_code,age
34,40374270,43390383,80043578,115465305,30:37.9,1934,52000,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
43,40374272,43390383,89320894,115465305,16:42.0,1934,52000,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
112,40374270,43390383,80043581,115465306,30:37.9,1934,81003,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
114,40374272,43390383,89320895,115465306,16:42.0,1934,81003,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
171,45228906,48621887,89321040,128845791,16:55.2,1939,99204,Male,C61=>1,0,77
172,45228906,48621887,89321045,128845792,16:55.2,1939,0,Male,C61=>1,0,77
173,45228906,48621887,89321048,128845793,16:55.2,1939,0,Male,C61=>1,0,77
174,45228906,48621887,89321051,128845796,16:55.2,1939,0,Male,C61=>1,0,77
175,45228906,48621887,89321052,128845799,16:55.2,1939,0,Male,C61=>1,0,77
176,45228906,48621887,89321053,128845804,16:55.2,1939,81003,Male,C61=>1,0,77
472,6879499,9018463,806595,21760038,18:28.2,1940,0,Male,C61=>1,0,76
483,6879499,9018463,806594,21760039,18:28.2,1940,0,Male,C61=>1,0,76
486,6879499,9018463,806596,21760037,18:28.2,1940,0,Male,C61=>1,0,76
489,6879499,9018463,806598,21760033,18:28.2,1940,81003,Male,C61=>1,0,76
490,6879499,9018463,806597,21760035,18:28.2,1940,0,Male,C61=>1,0,76
513,6879499,9018463,806593,21760040,18:28.2,1940,99205,Male,C61=>1,0,76
636,13903419,16446120,70115340,41247306,41:09.9,1948,99215,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
669,8569696,10821739,61424819,26295787,29:31.2,1948,52005,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
670,8569696,10821739,61424812,26295791,29:31.2,1948,52647,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
683,8569696,10821739,61424808,26295792,29:31.2,1948,52356,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
717,8569696,10821739,61424817,26295788,29:31.2,1948,52000,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
749,289408133,315115306,636076903,724498439,24:54.7,1934,99214,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
802,289408133,315115306,636076921,724498433,24:54.7,1934,0,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
803,289408133,315115306,636076916,724498434,24:54.7,1934,0,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
822,289408133,315115306,636076909,724498436,24:54.7,1934,0,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
834,289408133,315115306,636076906,724498438,24:54.7,1934,0,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
859,289408132,315115306,634251448,724498439,25:29.2,1934,99214,Male,C61=>2| R97.2=>1| N30.20=>3,0,82
892,29610957,32207716,82854916,87456968,14:15.1,1932,99211,Male,C61=>1,0,84
954,289128585,314805985,635906754,723888352,12:35.0,1948,52310,Male,C61=>3| N20.1=>1| N40.1=>2,0,68
964,2970097,4230315,543092,10250237,01:47.2,1930,0,Male,C61=>1| R35.0=>2| R35.1=>3,0,86
...,...,...,...,...,...,...,...,...,...,...,...
99663,83183166,98648811,157840562,236180429,19:02.7,1963,0,Male,C61=>1| N52.31=>2,0,53
99664,83183166,98648811,157840565,236180430,19:02.7,1963,0,Male,C61=>1| N52.31=>2,0,53
99665,83183166,98648811,157840567,236180431,19:02.7,1963,0,Male,C61=>1| N52.31=>2,0,53
99666,83183164,98648811,157840563,236180432,19:02.9,1963,0,Male,C61=>1| N52.31=>2,0,53
99910,17124447,19767827,72683021,50911612,31:54.3,1970,99215,Male,C61=>1,0,46
99911,17124447,19767827,72683023,50911615,31:54.3,1970,0,Male,C61=>1,0,46
99912,17124447,19767827,72683027,50911622,31:54.3,1970,0,Male,C61=>1,0,46
99913,17124447,19767827,72683024,50911618,31:54.3,1970,0,Male,C61=>1,0,46
99915,17124447,19767827,72683026,50911620,31:54.3,1970,0,Male,C61=>1,0,46
99950,289810896,315565553,635358125,725385262,50:00.7,1934,0,Male,C61=>1| N40.1=>2,0,82
99963,53499040,57101444,105819214,149792974,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99966,289810897,315565553,636463088,725385275,56:45.8,1934,0,Male,C61=>1| N40.1=>2,0,82
99967,289810896,315565553,635358108,725385277,50:00.7,1934,36415,Male,C61=>1| N40.1=>2,0,82
99968,53499040,57101444,105819217,149792975,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99969,289810897,315565553,636463085,725385277,56:45.8,1934,36415,Male,C61=>1| N40.1=>2,0,82
99974,53499040,57101444,105819220,149792976,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99975,53499040,57101444,105819223,149792977,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99976,53499040,57101444,105819225,149792979,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99977,298504342,314702787,664456953,723681594,04:09.3,1961,0,Male,C61=>1| E29.1=>2,0,55
99978,298504342,314702787,664456958,723681592,04:09.3,1961,0,Male,C61=>1| E29.1=>2,0,55
99979,53499040,57101444,105819229,149792981,49:48.4,1950,0,Male,C61=>1| N52.31=>2,0,66
99980,53499041,57101445,111061467,149792978,53:35.1,1963,99213,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99984,53499041,57101445,111061468,149792980,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99987,53499041,57101445,111061471,149792982,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99988,289810896,315565553,635358101,725385279,50:00.7,1934,0,Male,C61=>1| N40.1=>2,0,82
99989,289810897,315565553,636463081,725385279,56:45.8,1934,0,Male,C61=>1| N40.1=>2,0,82
99990,53499041,57101445,111061475,149792983,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99992,53499041,57101445,111061479,149792984,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99993,53499041,57101445,111061483,149792985,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53
99995,53499041,57101445,111061490,149792987,53:35.1,1963,0,Male,C61=>1| N39.3=>3| N52.31=>2,0,53

In [229]:
x=dfC61[feature]

In [230]:
import matplotlib
import numpy as np 
import matplotlib.pyplot as plt

In [231]:
matplotlib.style.use('ggplot')
plt.figure(figsize=(14,7))
plt.subplot(1, 2, 1)
plt.scatter(x.age, x.procedure_code, s=40)
plt.xlabel("age")
plt.ylabel("procedure_code")
plt.title('Real Scatter before clusterinng')
plt.show()

In [232]:
dfC61 = dfC61[["age", "procedure_code"]]
data = dfC61.as_matrix().astype("float32", copy = False)
from sklearn.preprocessing import StandardScaler
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)
from sklearn.cluster import DBSCAN
from sklearn import metrics
dbsc = DBSCAN(eps = .5, min_samples = 25).fit(data)
core_samples_mask = np.zeros_like(dbsc.labels_, dtype=bool)
#sets core sample indeces to true
core_samples_mask[dbsc.core_sample_indices_] = True

labels = dbsc.labels_

core_samples = np.zeros_like(labels, dtype = bool)

core_samples[dbsc.core_sample_indices_] = True
# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = 'k'

    class_member_mask = (labels == k)

    xy = data[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)

    xy = data[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=6)

#plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()

In [233]:
dfC67 = dfC67[["age", "procedure_code"]]
data = dfC67.as_matrix().astype("float32", copy = False)
from sklearn.preprocessing import StandardScaler
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)
from sklearn.cluster import DBSCAN
from sklearn import metrics
dbsc = DBSCAN(eps = .5, min_samples = 25).fit(data)
core_samples_mask = np.zeros_like(dbsc.labels_, dtype=bool)
#sets core sample indeces to true
core_samples_mask[dbsc.core_sample_indices_] = True

labels = dbsc.labels_

core_samples = np.zeros_like(labels, dtype = bool)

core_samples[dbsc.core_sample_indices_] = True
# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = 'k'

    class_member_mask = (labels == k)

    xy = data[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)

    xy = data[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=6)

#plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()

In [234]:
dfE291 = dfE291[["age", "procedure_code"]]
data = dfE291.as_matrix().astype("float32", copy = False)
from sklearn.preprocessing import StandardScaler
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)
from sklearn.cluster import DBSCAN
from sklearn import metrics
dbsc = DBSCAN(eps = .5, min_samples = 25).fit(data)
core_samples_mask = np.zeros_like(dbsc.labels_, dtype=bool)
#sets core sample indeces to true
core_samples_mask[dbsc.core_sample_indices_] = True

labels = dbsc.labels_

core_samples = np.zeros_like(labels, dtype = bool)

core_samples[dbsc.core_sample_indices_] = True
# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = 'k'

    class_member_mask = (labels == k)

    xy = data[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)

    xy = data[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=6)

#plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()

In [235]:
dfN200 = dfN200[["age", "procedure_code"]]
data = dfN200.as_matrix().astype("float32", copy = False)
from sklearn.preprocessing import StandardScaler
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)
from sklearn.cluster import DBSCAN
from sklearn import metrics
dbsc = DBSCAN(eps = .5, min_samples = 25).fit(data)
core_samples_mask = np.zeros_like(dbsc.labels_, dtype=bool)
#sets core sample indeces to true
core_samples_mask[dbsc.core_sample_indices_] = True

labels = dbsc.labels_

core_samples = np.zeros_like(labels, dtype = bool)

core_samples[dbsc.core_sample_indices_] = True
# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = 'k'

    class_member_mask = (labels == k)

    xy = data[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)

    xy = data[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=6)

#plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()

In [236]:
dfN201 = dfN201[["age", "procedure_code"]]
data = dfN201.as_matrix().astype("float32", copy = False)
from sklearn.preprocessing import StandardScaler
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)
from sklearn.cluster import DBSCAN
from sklearn import metrics
dbsc = DBSCAN(eps = .5, min_samples = 25).fit(data)
core_samples_mask = np.zeros_like(dbsc.labels_, dtype=bool)
#sets core sample indeces to true
core_samples_mask[dbsc.core_sample_indices_] = True

labels = dbsc.labels_

core_samples = np.zeros_like(labels, dtype = bool)

core_samples[dbsc.core_sample_indices_] = True
# Black removed and is used for noise instead.
unique_labels = set(labels)
colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
for k, col in zip(unique_labels, colors):
    if k == -1:
        # Black used for noise.
        col = 'k'

    class_member_mask = (labels == k)

    xy = data[class_member_mask & core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=14)

    xy = data[class_member_mask & ~core_samples_mask]
    plt.plot(xy[:, 0], xy[:, 1], 'o', markerfacecolor=col,
             markeredgecolor='k', markersize=6)

#plt.title('Estimated number of clusters: %d' % n_clusters_)
plt.show()